.CheckboxGroup {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.45rem;
  color: rgb(var(--text-color));
}

.error {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(var(--destructive-color));
}