.tableContainer {
  width: 100%;
  overflow-x: auto;
  border: 1px solid var(--table-border-color);
  border-radius: 14px;
  background-color: var(--table-bg-color);
}

.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 600px;
}

.caption {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: left;
  color: var(--caption-text-color);
}

.thead {
  height: 4rem;
}

.th,
.td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid var(--table-border-color);
  color: var(--th-text-color);
  font-size: 0.875rem;
}

.th {
  font-weight: 600;
  text-transform: capitalize;
}

.tbody .tr:last-child .td {
  border-bottom: none;
}

.tbody .tr:hover {
  background-color: var(--tr-hover-bg-color);
}

@media screen and (max-width: 600px) {
  .table {
    border: 0;
  }

  .table caption {
    font-size: 1.3em;
  }
  
  .table .thead {
    display: none;
  }
  
  .table .tr {
    border-bottom: 3px solid var(--responsive-border-color);
    display: block;
    margin-bottom: .625em;
  }
  
  .table .td {
    border-bottom: 1px solid var(--responsive-border-color);
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  .table .td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--responsive-td-label-color);
  }
  
  .table .td:last-child {
    border-bottom: 0;
  }
}

.sortableHeader {
  cursor: pointer;
}

.sortableHeader:hover {
  background-color: var(--th-hover-bg-color);
}

.sortIndicatorContainer {
  margin-left: 0.5rem;
  display: inline-flex;
  align-items: center;
}

.sortIcon {
  width: 12px;
  height: 12px;
  transition: transform 0.2s ease-in-out;
}

.rotatedIcon {
  transform: rotate(180deg);
}

.td {
  color: var(--td-text-color);
}

.actionsCell {
  text-align: right;
} 